@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  height: 100vh;
  overflow: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  backdrop-filter: blur(50px);
}

input {
  background: transparent;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: grey;
}

[placeholder]:empty:focus::before {
  content: "";
}
