@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sauce-medium;
  src: url("./assets/opensaucesans-medium.woff");
}

@font-face {
  font-family: sauce-bold;
  src: url("./assets/opensaucesans-black.woff");
}

@font-face {
  font-family: krona;
  src: url("./assets/kronaone-regular.woff");
}

:root {
  font-family: sauce-medium, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  background: linear-gradient(rgba(206,204,208,1) 0%, rgba(165,170,178,1) 100%);
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #69696940;
  backdrop-filter: blur(50px);
  overflow: auto;
  height: 100%;
}

input {
  background: transparent;
}
