@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sauce-medium;
  src: url("./assets/opensaucesans-medium.woff2");
}

@font-face {
  font-family: sauce-bold;
  src: url("./assets/opensaucesans-black.woff2");
}

@font-face {
  font-family: krona;
  src: url("./assets/kronaone-regular.woff2");
}

:root {
  font-family: sauce-medium, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background: #f9f9f9;
  /* linear-gradient(rgba(206,204,208,1) 0%, rgba(165,170,178,1) 100%); */
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* background-color: #69696940; */
  backdrop-filter: blur(50px);
  height: 100%;
}

main {
  min-height: 100vh;
}

input {
  background: transparent;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: grey;
}

[placeholder]:empty:focus::before {
  content: "";
}
